<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>Search for weather forecast!</p>

      <form id="weatherForm">

        <div class="form-control">  
          <input id="address" type="text" name="address" placeholder="Location" id="">
          <button onClick="getForecast()" class="getWeather"type="submit">Submit</button>
        </div>
      </form>
      <p id="type"></p>
      <p id="message"></p>
    </div>
    {{>footer}}
  <script src="js/app.js"></script>
  </body>
</html>

